{% extends 'base.html.twig' %}

{% block body %}
    <br>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    <div class="container text-lg-center">
        <table class="table table-striped table-hover table-bordered border-dark">
            <thead>
            <tr>
                <td class="fw-bolder">Name</td>
                <td class="fw-bolder">Quentity</td>
                <td class="fw-bolder">File</td>
                <td class="fw-bolder">Add</td>
                <td class="fw-bolder">Release</td>
                <td class="fw-bolder">Delete</td>
            </tr>
            </thead>

            {% for a in article %}
                <tbody>
                <td>{{ a.name }}</td>
                <td>{{ a.quantity }}</td>
                <td><a href="{{ path('show',{id: a.id}) }}">{{ a.file }}</a></td>
                <td><a href="{{ path('articleadd',{id: a.id}) }}">add</a></td>
                <td><a href="{{ path('articlerelease',{id: a.id}) }}">release</a></td>
                <td><a href="{{ path('articledelete',{id: a.id}) }}">x</a></td>
                </tbody>
            {% endfor %}

        </table>
    </div>
{% endblock %}
