<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Magazine{% endblock %}</title>
    {#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>️</text></svg>"> #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold white-text" href="{{ path('home') }}">Magazine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link active fw-semibold text-white" id="white" aria-current="page"
                           href="{{ path('articleadd_new_article') }}">Add</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link active fw-semibold text-white" aria-current="page" href="#">Release</a>
                    {% endif %}
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <form class="navbar-form" role="search"
                          action="{{ path('home') }}">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search ..." name="q">
                        </div>
                    </form>
                {% endif %}

            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-link active fw-semibold text-white" aria-current="page" href="{{ path('app_logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>
{% block body %}

{% endblock %}
</body>
</html>
